.banner {
    background: url("img/banner.png") no-repeat center center;
    background-size: cover;
    padding-top: 20%;
    padding-bottom: 20%;
    color: #000000;
}

.container-navbar img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.clearfix img {
    width: 300px;
    height: 300px;
}

.display-3 {
    padding-top: 89px;
}


.lingkaran1 {
    display: inline-block;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: auto;
    color: #FFF;
    background-color: #ef6c30;
}

.lingkaran2 {
    display: inline-block;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: auto;
    color: #FFF;
    background-color: #e39b48;
}

.lingkaran3 {
    display: inline-block;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: auto;
    color: #FFF;
    background-color: #7b5694;
}

.lingkaran4 {
    display: inline-block;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: auto;
    color: #FFF;
    background-color: #70b8cb;
}

.lingkaran1 i {
    position: relative;
    top: 30px;
}

.lingkaran2 i {
    position: relative;
    top: 30px;
}

.lingkaran3 i {
    position: relative;
    top: 30px;
}

.lingkaran4 i {
    position: relative;
    top: 30px;
}

.crop-img {
    object-fit: cover;
}

.tim1 img {
    width: 250px;
    border: 10px solid #ef6c30;
}

.tim2 img {
    width: 250px;
    border: 10px solid #e39b48;
}

.tim3 img {
    width: 250px;
    border: 10px solid #7b5694;
}

.tim4 img {
    width: 250px;
    border: 10px solid #70b8cb;
}

.warna1 {
    background-color: #ef6c30;
}

.warna2 {
    background-color: #e39b48;
}

.warna3 {
    background-color: #7b5694;
}

.warna4 {
    background-color: #70b8cb;
}

a.sosial {
    display: inline-block;
    width: 40px;
    height: 40px;
    color: #FFF;
    border-radius: 50%;
    background-color: #333;
    line-height: 40px;
}

.client {
    background-color: linear-gradient(to right, red, blue, yellow, black);
    display: inline-block;
}

.client img {
    height: auto;
    max-height: 100px;
}

.kontak {
    background: url(img/banner.png) no-repeat center center;
    background-size: cover;
    padding-bottom: 20%;
    padding-top: 20%;
    color: #000000;
}